@import url("https://fonts.googleapis.com/css2?family=Gafata&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: #dcdfe4;
  min-height: 100vh;
  font-family: "Gafata", sans-serif;
}
.header {
  display: flex;
  height: 5rem;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 2rem;
  background: -webkit-linear-gradient(
    -90deg,
    rgba(2, 0, 36, 0.647963408996411) 0%,
    rgba(1, 85, 124, 1) 38%,
    rgba(0, 212, 255, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.drop_shadow {
  position: absolute;
  width: 5rem;
  height: 5rem;
  
  border-radius: 1rem;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #e4e6eb;
  box-shadow: 0.8em 0.8em 1em rgba(167, 176, 192, 0.3), 
              -0.8em -0.8em 1em rgb(255, 255, 255, 0.5);
  
  /* width: 0.5rem;
  height: 0.5rem; */
  /* box-shadow:  0.1rem 0.1rem 0.1rem rgba(167, 176, 192), 
               -0.1rem -0.1rem 0.1rem rgb(255, 255, 255); */

  transition: all 1s cubic-bezier(0.33, 1, 0.68, 1);
}
@media screen and (min-width: 350px){
  .drop_shadow {
    top: 25%;
  }
}
.drop_shadow:hover {
  background: -webkit-linear-gradient(
    -90deg,
    rgba(2, 0, 36, 0.647963408996411) 0%,
    rgba(1, 85, 124, 1) 38%,
    rgba(0, 212, 255, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* background-color: #E6E9EF; */
  /* box-shadow: 13px 13px 20px rgb(255, 255, 255, 0.6), 
                -15px -13px 20px rgba(167, 176, 192, 0.3); */
  box-shadow: 0.1rem 0.1rem 0.1rem rgb(255, 255, 255, 0.6), 
              -0.1rem -0.1rem 0.1rem rgba(167, 176, 192, 0.3);
}
.drop_shadow_text {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
/*Soft Edge :) */
.static_shapes {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  padding-bottom: 2rem;
  gap: 1.5rem;
}

.circle {
  height: 15rem;
  width: 15rem;
  font-size: 2rem;
  border: 1rem solid transparent;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  box-shadow:  -0.5rem -0.5rem 0.5rem rgba(255, 255, 255, 0.6),
              0.5rem 0.5rem 0.5rem rgb(0, 0, 0, 0.15);
}
.inner_circle1 {
  position: absolute;
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b92d2d;
  box-shadow: inset 0.3rem 0.3rem 1rem rgba(24, 14, 14, 0.3),
              inset -0.5rem -0.5rem 1rem rgba(218, 129, 129, 0.3);
}
.circle_text {
  position: absolute;
  background-color: transparent;
  animation: text_glow 2s ease-out infinite alternate;
}
.lighting {
  position: absolute;
  background-color: #700000;
  width: 14.5rem;
  height: 14.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: rotate 2s  infinite;
}
.lighting span {
  position: absolute;
  background-color: #4af7ee;
  width: 2rem;
  height: 14.5rem;
}
.lighting span:nth-child(1){
  transform: rotate(90deg);
}
.lighting span:nth-child(2){
  transform: rotate(45deg);
}
.lighting span:nth-child(3){
  transform: rotate(135deg);
}
@keyframes text_glow {
  100%{
    color: #4af7ee;
    text-shadow: 0rem 0rem 0.3rem rgb(74, 247, 238);
  }
}
@keyframes rotate {
  100%{
    transform: rotate(360deg);
  }
}
.soft_circle {
  background-color: #dcdfe4;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* AEAEC0 20%, FFFFFF 100% */
  box-shadow: 0.2rem 0.2rem 0.3rem rgb(174, 174, 192, 0.2),
              -0.2rem -0.2rem 0.3rem rgba(255, 255, 255),
              inset 0.2rem 0.2rem 0.3rem rgba(255, 255, 255),
              inset -0.2rem -0.2rem 0.3rem rgb(174, 174, 192, 0.2);
  
}
.soft_inner {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  /* AEAEC0 20%, FFFFFF 100% */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0.2rem 0.2rem 0.3rem #FFFFFF,
              -0.2rem -0.2rem 0.3rem rgb(174, 174, 192, 0.2),
              inset 0.2rem 0.2rem 0.3rem rgb(174, 174, 192, 0.2),
              inset -0.2rem -0.2rem 0.3rem #FFFFFF;
}
.soft_inner::after {
  content: "SOFT CIRCLE"; 
  color: rgb(0, 0, 0, 0.5);
}
